body {
	margin:0;
}

.hide {
	display:none !important;
}

.container {
	max-width:1000px;
	margin-left:auto;
	margin-right:auto;
	width:100%;
}

.container img {
	max-width:50px;
}

.container table {
	width:100%;
}

.container td, .container th {
	text-align:left;
	font-size:1.2em;
}

.margin-top-20 {
	margin-top:20px;
}

.container input, .container textarea {
	width:100%;
	border-radius:5px;
	padding:10px;
	box-sizing:border-box;
	border:#CCC 1px solid;
	font-size:0.8em;
}

.container select {
	padding:10px 15px;
	background-color:#06C;
	color:#FFF;
	font-size:0.8em;
	-webkit-appearance:none;
	-moz-appearance:none;
	appearance:none;

}

#submit-wine-button {
	padding:10px 15px;
	border:none;
	border-radius:5px;
	background-color:#06C;
	color:#FFF;
	font-size:0.6em;
	cursor:pointer;
}

input[type='checkbox'] {
	margin:0;
}

.titles .active {
	font-weight:bold;
}